Source: ros-noetic-raspicam-node
Section: misc
Priority: optional
Maintainer: Rohan Agrawal <send2arohan@gmail.com>
Build-Depends: debhelper (>= 9.0.0), libraspberrypi-dev, libraspberrypi0, ros-noetic-camera-info-manager, ros-noetic-catkin, ros-noetic-compressed-image-transport, ros-noetic-diagnostic-updater, ros-noetic-dynamic-reconfigure, ros-noetic-message-generation, ros-noetic-roscpp, ros-noetic-sensor-msgs, ros-noetic-std-msgs, ros-noetic-std-srvs
Homepage: 
Standards-Version: 3.9.2

Package: ros-noetic-raspicam-node
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libraspberrypi0, ros-noetic-camera-info-manager, ros-noetic-compressed-image-transport, ros-noetic-diagnostic-updater, ros-noetic-dynamic-reconfigure, ros-noetic-message-runtime, ros-noetic-roscpp, ros-noetic-sensor-msgs, ros-noetic-std-msgs, ros-noetic-std-srvs
Description: Package to access the Raspberry Pi Camera from ROS.
